/**
Write a Sass file that assigns:

Text color $red from 10-colors.scss to the class .red
Text color $green from 10-colors.scss to the class .green
Text color $blue from 10-colors.scss to the class .blue
You must use @import
**/

$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
